@import '~antd/dist/antd.css';

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: rgb(192,192,192) ;
    color:white;
    
}

.border {
  padding: 20px;
  background: rgb(60,60,60);
}